@import './variables/fonts.scss';
@import './variables/colors.scss';

body {
  color: $color-dark;
  font-family: $font-body;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-dark;
  font-family: $font-headings;
  font-weight: 600;
}
