@import '../../styles/mixins/layout.scss';

$layout-halfs-padding: 50px;

.layout-halfs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  > :nth-child(1) {
    width: 50%;
  }

  > :nth-child(2) {
    width: 50%;
  }

  &.has-padding-top {
    padding-top: $layout-halfs-padding;
  }

  &.has-padding-bottom {
    padding-bottom: $layout-halfs-padding;
  }
}
