.layout-halfs {
  display: flex;
  justify-content: space-between; }
  .layout-halfs > div:nth-child(1) {
    background-color: red;
    flex-basis: 50%; }
  .layout-halfs > div:nth-child(2) {
    background-color: blue;
    flex-basis: 50%; }
