@import '../../styles/variables/colors.scss';

$layout-section-padding: 50px;

.layout-section {
  height: 600px;
  margin-top: -200px;
  padding-top: 350px;
  background-color: $color-background-light;
  padding-bottom: $layout-section-padding;

  h1 {
    font-size: 50px;
    margin: 0;
  }
}
