.layout-halfs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
  .layout-halfs > :nth-child(1) {
    width: 50%; }
  .layout-halfs > :nth-child(2) {
    width: 50%; }
  .layout-halfs.has-padding-top {
    padding-top: 50px; }
  .layout-halfs.has-padding-bottom {
    padding-bottom: 50px; }
