.navigation-item {
  text-decoration: none;
  color: #242a37;
  font-size: 22px;
  height: 100%;
  text-align: right;
  margin-left: 50px;
  padding: 10px 0;
  box-shadow: 0 2px 0 0 transparent;
  transition: box-shadow 0.3s ease; }
  .navigation-item:hover {
    box-shadow: 0 2px 0 0 #3453c1; }
