@import '../../styles/variables/colors.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-color: $color-background-dark;
  margin-top: -150px;
  padding-top: 150px;
  padding-bottom: 150px;
  position: fixed;
  z-index: -9999;
  bottom: 0;
  width: 100%;

  h1 {
    color: $color-light;
    font-weight: 500;
    margin: 0;
  }

  h1 a {
    text-decoration: none;
    color: $color-light;
    padding-bottom: 3px;
    border-bottom: 2px solid $color-light;
  }
}
